<section
  class="splide relative h-[75vh]"
  aria-label="Splide Basic HTML Example"
>
  <div class="splide__track h-full">
    <ul class="splide__list h-full">
      <% uploadImages.forEach((image) => { %>
      <li class="splide__slide h-full">
        <img
          data-splide-lazy="<%= image %>"
          alt="Hostel Image"
          class="w-full h-full object-cover"
        />
      </li>
      <% }) %>
    </ul>
  </div>

  <!-- Overlay -->
  <div class="absolute inset-0 z-10">
    <div
      class="flex flex-col sm:flex-row items-center justify-between h-full px-4 md:px-12 relative"
    >
      <!-- Logo and Title -->
      <div class="hidden sm:flex flex-col sm:flex-row items-center gap-2">
        <img
          src="/hab/images/headers/logo.svg"
          alt="logo"
          class="scale-40 sm:scale-50 md:scale-75"
        />
        <h2
          class="text-3xl sm:text-4xl md:text-5xl text-white font-black text-center sm:text-left select-none"
          style="font-family: 'Mulish'"
        >
          Hostel Affairs Board
        </h2>
      </div>

      <!-- Hostel Card (hidden on small screens) -->
      <div class="hidden sm:block mt-10">
        <img
          src="/hab/images/nav/card.png"
          alt="Hostel Card"
          class="max-h-32 md:max-h-48"
        />
      </div>
    </div>
  </div>
</section>
