<section id="notices">
  <%- include("./category.ejs") %>
  <div class="lg:w-2/3 flex flex-col sm:items-center items-start mx-auto">
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-8 md:py-16 mx-auto flex flex-wrap">
        <div class="flex flex-wrap -m-4" id="div_notice">
          <!-- All the Notices are rendered dynamically by JS in /hab/js/noticeAPI.js -->
        </div>
      </div>
    </section>
  </div>
</section>
